:root {
    --color-blue: rgb(93, 127, 207);
    --color-red: rgb(212, 45, 38);
    --color-dark-red: rgb(91, 9, 6);
    --color-white: white;
    --color-light-gray: rgb(216, 211, 211);
    --color-dark-gray: rgb(35, 32, 32);
    --color-black: black;

}

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    line-height: 24px;
}

h3 {
    padding-bottom: 6px;
}

h1 {
    font-size: 210%;
}

.big-header {
    width: 50%;
    margin: 0 auto;
    position: relative;
    background-color:rgba(0,0,0, 0.5);
    padding: 16px;
    border-radius: 18px;
}

.big-header * {
    text-align: center;
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 20px;
}

.sources-list {
    width: 64%;
    background-color: rgba(0,0,0, 0.84);
}
.sources-list * {
    text-align: left;
    padding-bottom: 12px;
    padding-left: 4px;
}

.sources-list a {
    color: var(--color-blue);
    text-decoration: none;
}

.sources-list ul li {
    list-style:square;
}

.sources-list ol li {
    list-style: decimal;
}

.source-category {
    font-size: 190%;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    /* background: rgba(0,0,0, 0.5) url("../img/mariobackgroundblue.jpg") ; */
}
.height-fix {
    overflow: hidden;
}

.background-stuff {
    background: rgba(0,0,0, 0.5) url("../img/mariobackgroundblue.jpg");
    background-blend-mode: darken;
    background-position: right center;
    background-attachment: fixed;
    padding: 12px;
    min-height: 100vh;
}

nav ul {
    display: flex;
    z-index: 100;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    background-color: var(--color-dark-gray);
    color: var(--color-blue);
    flex-wrap: wrap;
    height: 100%;
}

nav ul li {
    display: flex;
    transition: 0.2s all;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    min-width: 140px;
}

nav {
    background-color: var(--color-dark-gray);
}

.nav-title {
    width: fit-content;
    margin: 0 auto;
    padding: 12px;
}

.nav-title h1 {
    width: fit-content;
    padding: 8px;
    transition: 0.2s all;
    border-radius: 8px;
}

nav ul li:hover, .nav-title:hover h1{
    background-color: var(--color-red);
    transform: translateY(-2px);
    transform: scale(1.1);
}

nav .active-tab {
    background-color: var(--color-red);
}

nav .active-tab a {
    color: var(--color-white);
}

nav ul li a, .nav-title>a {
    text-decoration: none;
    color: var(--color-light-gray);
    align-items: center;
    font-size: 120%;
    padding: 20px;
}
nav h1 {
    color: var(--color-white);
    background-color: var(--color-dark-gray);
}

nav ul li:hover a, .nav-title:hover h1{
    color: var(--color-white);
}

.games-cardcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    flex-wrap: wrap;
    gap: 10px;
    padding: 12px;    
    
}

.games-cardcontainer>.card>section>a, .games-cardcontainer>.card>section>a:visited {
    color: var(--color-red);
    text-decoration: none;
    font-size: 120%;
}

.console-cardcontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    flex-wrap:wrap;
    gap: 24px;
    padding: 12px;    
    
}

.thick-card {
    width:100%;
    max-width: 1100px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    max-height:fit-content;
    color: var(--color-light-gray);
    background-color: var(--color-dark-gray);
    margin-left: auto;
    margin-right: auto;
}

.thick-card>section {
    width: fit-content;
    padding: 12px;
}

.thick-card h1 {
    padding-top: 16px;
}

.thick-card figure {
    width: 270px;
    height: 270px;
}

.thick-card figure img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.thick-card p {
    padding-bottom: 12px;
}

.console-info h1 {
    /* width: 300px; */
    margin-bottom: 12px;
}

.thick-card:hover .collapsed {
    opacity: 1;
    max-height: 900px;
    transition: max-height 0.5s ease-in;
}

.card {
    min-width: 200px;
    max-width: 300px;
    border-radius: 12px;
    flex: 1 1 300px;
    min-height: 420px;
    color: var(--color-light-gray);
    background-color: var(--color-dark-gray);
}
.card>section {
    padding: 12px;
}
.card h1 {
    padding-top: 16px;
}
.card figure img {
    width: 270px;
    height: 270px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.collapsed {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}
.card:hover .collapsed {
    opacity: 1;
    max-height: 900px;
    transition: max-height 0.5s ease-in;
}

input.cart, button.cart {
    border: 0;
    padding: 12px;
    color: var(--color-white);
    background-color: var(--color-red);
    cursor: pointer;
    border-radius: 4px;
}

#all-stuff {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 12px;    
}

.mod-item figure img {
    margin: 8px;
    width: 284px;
    height: 284px;
}

.mod-info {
    display: flex;
    align-items: center;
    position: absolute;
    width: 290px;
}
.mod-text {
    flex-grow: 1;
}
.mod-name {
    font-size: 140%;
    margin-bottom: 14px;
    font-weight: bolder;
}
.mod-price {
    font-size: 110%;
}
.mod-add {
    font-size: 100%;
}

#cart-wrap {
    /* margin:12px; */
}

#cart-inventory {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    background-color: var(--color-dark-red);
    border-radius: 8px;
    min-height: 70px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.cart-item {
    padding: 12px;
    margin: 4px;
    display: flex;
    align-items: center;
    background-color: var(--color-blue);
    border-radius: 8px;
    width: 96%;
}
.cart-name {
    padding: 0 10px;
    font-weight: bolder;
}
.cart-quantity {
    width: 60px;
    padding: 10px;
    border-radius: 6px;
}
.cart-go {
    margin: 10px;
}
.cart-empty {
    font-size: 110%;
}
.cart-checkout {
    font-size: 110%;
}
.cart-total {
    padding: 10px;
    font-size: 110%;
    color: var(--color-white);
}

@media (max-width: 800px) {
    nav ul {
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    nav ul li {
        padding: 8px;
        flex-basis: 50%;
    }
    nav ul li a h1 {
        flex: 0 0 80%;
    }
    nav ul li:hover {
        transform: scale(1);
    }
    .big-header {
        width: 90%;
    }

    .console-cardcontainer {
        /* visibility: collapse; */
    }

    .thick-card {
        flex-direction: column;
        align-items: center;
        max-height: fit-content;
    }

    .console-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .console-info {
        text-align: center;
    }

}